.conts {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* display: flex; */
    position: absolute;
    top: 85%;
    left: 8%;
}

.conts .body {
    position: relative;
}

.conts .body .img-body {
    position: relative;
}

.conts .body .img-body img {
    width: 95%;
    height: 13rem;
}

.conts .body .card-element1 {
    display: flex;
    /* border: 2px solid red; */
    width: 95%;
    position: absolute;
    top: 81%;
    background-color: sienna;
    height: 19%;
}

.conts .body .card-element1 h1 {
    position: absolute;
    font-size: 1.2rem;
    top: 17%;
    left: 10%;
}

.conts .body .card-element1 span {
    position: absolute;
    left: 80%;
    top: 17%;
}

.conts .body .card-element2 {
    width: 95%;
    position: absolute;
    top: 58%;
    background-color: #6ba02d6e;
    height: 42%;
}

.conts .body .card-element2 h1 {
    font-size: 1rem;
    color: aliceblue;
}

.conts .body .card-element2 p {
    font-size: .8rem;
    color: aliceblue;
    margin-top: 0px;
}

.conts .body .card-element2 span {
    position: absolute;
    left: 80%;
    top: 60%;
}